{% extends "baselayout.html" %}

{% block main %}
<div class="container">
<h1>HomePage</h1>

<h2>5 upcoming movies at our cinema:</h2>

<!-- add table class to show the info through a table -->

<table class="table table-striped table-dark">
    <thead>
      <th>Time</th>
      <th>Title</th>
      <th>auditorium</th>
      <th>price</th>
      <th></th>
    
    </thead>
    <tbody>
      <div class="col-md-4">
        <div class="form-group">
          <div runat="server" id="div_columns">
      {% for viewing in viewings %}
      <tr>

        <td>{{viewing[1]}}</td>
        <td>{{viewing[2]}}</td>
        <td>{{viewing[3]}}</td>
        <td>{{viewing[4]}}</td>
        <td>
            <form action="detail" method = 'GET'>
          <input id = "viewing_id" name="v_id" type="hidden" value="{{viewing[0]}}">
          <button>More Info</button>
        </td>
        </form>
       </tr>
       {% endfor %}

<!-- for some reason this is good to do -->
{{ svg|safe }}
</div>


{% endblock %}
    